{% extends 'base.html.twig' %}
{% block title %}Your Cart{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}

    <div class="container " style="margin-top:50px;">

        <table class="table">
            <thead>
            <tr>

                <th colspan="2" style="padding-left: 25em;" scope="col">Product </th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody class="table-group">
                {% for product in products %}
                    <tr id="{{ product.getId() }}" class="product-id">
                        <td><img  class="image" style="width:18em; height:16em;" src="{{  asset('uploads/images/' ~ product.image) }}" alt='' onerror="this.src='{{ product.image }}'"></td>
                        <td style="padding-top: 100px">
                            <h5 class="card-title" > {{ product.getName()}} </h5>
                            <p class="card-text"> {{ product.getDescription()|raw }} </p></td>
                        <td style="padding-top: 100px" class="price"> <label> {{ product.getPrice()}} $</label></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}