{% extends 'base.html.twig' %}
{% block title %}Your Cart{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}

    <div class="container " style="margin-top:50px;">
        <table class="table">
            <thead>
            <tr>

                <th colspan="2" style="padding-left: 25em;" scope="col">Product </th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody class="table-group">

                {% for product in products %}
                    <tr>
                <td><img  style="width:18em; height:16em;" src= {{ product.getImage()}} ></td>
                <td style="padding-top: 100px"><h5 class="card-title" > {{ product.getName()}} </h5>
                    <p class="card-text"> {{ product.getDescription()}} </p></td>
                <td style="padding-top: 100px"> <label> {{ product.getPrice()}} $</label></td>
                <td style="padding-left:30px;padding-top: 100px;">
                    <button style="border:solid lightgrey;border-bottom-left-radius:5px; border-top-left-radius:5px;" onclick={{ path("app_cartchange_quantity",{typeOfChange:"remove",id: product.getId()}) }} >-</button>
                    <label > {{ quantity[product.getId()]}} </label>
                    <button style="border:solid lightgrey;border-bottom-right-radius:5px; border-top-right-radius:5px;" onclick={{ path("app_cartchange_quantity",{typeOfChange:"add",id: product.getId()}tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt) }} >+</button>

                </td>

                </td>


            </tr>
            {% endfor %}
                <td colspan="2" style="text-align: end;"><h5>Total Price :</h5></td>
            <td>{{ totalPrice }}$</td>
            </tbody>
        </table>




        </div>

{% endblock %}

