{% extends 'base.html.twig' %}
{% block title %}Product list{% endblock %}
{% block body %}

    <div class="container " style="margin-top:50px;">
    <div class="row">

    {% for product in products %}
        <div class="col-3 "style="display:flex; align-items: stretch;">
<div class="card" id="{{ product.getId() }}" style="width: 18rem;height:auto;margin-bottom:25px">
    <img class="card-img-top " style="height:350px;" src= {% block image %} {{ product.getImage()}} {% endblock %}>
    <div class="card-body">
    <h5 class="card-title">{% block name %} {{ product.getName()}} {% endblock %}</h5>

    <p class="card-text">{% block description %} {{ product.getDescription()}} {% endblock %}</p>
    <label>{% block price %} {{ product.getPrice()}} {% endblock %}$</label><br><br>
        <button   id="{{ product.getId() }}" class="btn btn-primary" >Add to cart 🛒</button>
    </div>
</div>
        </div>
    {% endfor %}

    </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    document.querySelectorAll('.btn.btn-primary').forEach(button => {
        button.addEventListener('click', () => {
            const productId = button.id;

            fetch('/cart/add/${productId}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
            });
        })
    });
</script>
{% endblock %}
