
<style>
    .navbar{
        background-color:#f6f3f1;
    }
</style>


<nav class="navbar navbar-expand-lg  border-bottom">
    <div class="container-fluid">


            <img  src="{{ asset('images/logo.png') }}"  width="50" height="50">



        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-between" id="navbarContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link " href="{{ path('app_home') }}">Home</a></li>

                <li class="nav-item"><a class="nav-link" href="{{ path('app_about_us') }}">About us</a></li>
                <li class="nav-item"><a class="nav-link" href="#">S'incrire</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Se connecter</a></li>

                <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                {% endif %}



            </ul>


            <div class="d-flex align-items-center">

                <form class="d-none d-lg-block me-3" id="navbarSearchForm">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" id="navbarSearchInput" placeholder="Search...">
                        <button class="btn btn-outline-secondary btn-sm" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>


                <div class="navbar-icons d-flex align-items-center">

                   <i style="margin-left: 5px;margin-right:10px" class="bi bi-person" title="User"></i>
                    <a href="{{ path('app_wish_listapp_wish_list_show') }}" class="me-3" title="Wishlist">
                        <i class="bi bi-heart"></i>
                    </a>
                    <a href="{{ path('app_cartshow_cart') }}"> <i class="bi bi-bag" title="Cart"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


